/* .ant-layout{
  background: #ebebeb;
  margin: 0;
}

.ant-layout-header{
  margin: 0 0;
  padding-left: 40em;
} */
/* .ant-col{
  background: #6ee2ff;
} */
.header-row{
  background: #201E50;
  justify-content: space-between;
}

.header-row h2{
  color: #EAEAEF !important;
}
